# This is my first, very own configuration file for yamllint!
# It extends the default conf by adjusting some options.

extends: default

rules:
  line-length:
    max: 120
    level: warning

  empty-values:
    forbid-in-flow-mappings: true