requests>=2.24.0
redis>=3.5.3
awscli>=1.18.84
pyyaml>=5.3.1
responses>=0.10.15
urllib3>=1.25.10
yamllint>=1.23.0

# Below are all for Scrapy
scrapy>=2.1.0
boto3>=1.14.7
extruct>=0.9.0
w3lib>=1.22.0
jinja2>=2.11.2
scrapinghub>=2.3.1
service_identity>=18.1.0
attrs>=19.3.0
shub>=2.10.0
pymongo>=3.10.1
dnspython
msgpack-python
scrapy-useragents
