requests
redis
pyyaml
responses
yamllint

# Below are all for Scrapy
scrapy
boto
extruct
w3lib
jinja2
scrapinghub==2.0.3
shub
pymongo
dnspython
msgpack-python
scrapy-useragents
scrapy-rotating-proxies